form(method='POST' action='/new')
  label(for='') User:
  input#user(name='username' type='text' required='' autocomplete='off')
  label(for='') Text:
  input#text(name='text' type='text' required='' autocomplete='off')
  button(type='submit') SUBMIT