extends layout

block content
  h1= title
  a(href='/messages/new')
    button Add New Message


  div
    ul.container--flex 
      each message in messages_list
        li @#{message.username} says #{message.text} at #{message.date}