extends layout.pug

block content
  form(method='POST' action='/messages/new')
    h1= title
    label(for='user') Name:
    input#user(name='username' type='text' required='' autocomplete='off')
    label(for='text') Message:
    textarea#text(name='text' type='text' required='' autocomplete='off' rows='10' cols="50")
    br
    button(type='submit') SUBMIT
